#event_post input[type=date],#event_post input[type=datetime],#event_post input[type=datetime-local]{
	display:block;
}
.human_date{
	color:#21759B;
}
#event_post label input[type=datetime-local]{

}

#event_post label input[type=text]{
	background:transparent;
	border:none;
}
#event_post label:hover input[type=text]{
	background:#ffffff;
	border:#CCC 1px inset;
}
#eventaddress_result p{
	position:relative;
	padding:8px 0px 8px 25px;
	border-bottom:#DDD 1px solid;
	border-top:#FFF 1px solid;
	margin:0;
}
#eventaddress_result p:first-child{
	border-top:none;
}
#eventaddress_result p:last-child{
	border-bottom:none;
}
#eventaddress_result p a img{
	position:absolute;
	top:8px;
	left:0;
}
#eventaddress_result p a{
	clear:both;
}
#event_address_search{

}

#ep_sce_shortcode{
	padding:0.5em;
	font-size:1.1em;
	background:#FFC;
	border:#CC5 1px solid;
	border-radius:4px;
	margin:1em 0;
}



body.widgets-php .eventpost_admin_widget h4:before{
    font-family:dashicons;
    font-size:1.7em;
    top:4px;
    position:relative;
}
body.widgets-php .eventpost_widget_cal h4:before{
    content:'\f145 ';
}
body.widgets-php .eventpost_widget_map h4:before{
    content:'\f231 ';
}
body.widgets-php .eventpost_widget_list h4:before{
    content:'\f163 ';
}


